* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'Twinkle Star';
}
body {
  background-color: #f7f9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* -- NAVBAR -- */
.nav {
  width: 100%;
}
.nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}
.nav .navbar ul {
  display: flex;
}
.nav .navbar ul li {
  margin-left: 1rem;
  list-style-type: none;
}
.nav .navbar ul li a {
  color: #292a49;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Julius Sans One';
}
.nav .navbar ul li a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: 'Twinkle Star';
  src: url(../fonts/Twinkle_Star/TwinkleStar-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Julius Sans One';
  src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
  font-weight: 700;
}
