// main: 'import.less'

@font-face {
    font-family: 'Twinkle Star';
    src: url(../fonts/Twinkle_Star/TwinkleStar-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Julius Sans One';
    src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
}