// main: 'import.less'

@font-face {
    font-family: 'Twinkle Star';
    src: url(../fonts/Twinkle_Star/TwinkleStar-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Julius Sans One';
    src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
}

h1 {
    font-family: 'Twinkle Star';
    font-size: 4rem;
    color: @main-font-color;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: 'Julius Sans One';
    color: @main-font-color;
    text-align: center;
    font-weight: 300;
}

h3 {
    font-family: 'Twinkle Star';
    font-size: 2rem;
    color: @main-font-color;
    font-weight: 300;
}

p {
    font-family: 'Julius Sans One';
    font-size: 1.2rem;
    font-weight: 700;
}