// main: 'import.less'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: @main-bg-color;
    background: url(../images/hero-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    margin: 5rem 0;
}

h1 {
    font-family: 'Twinkle Star';
    font-size: 6rem;
    color: @main-font-color;
    text-align: center;
}

/* -- NAVBAR -- */
.nav {
    min-width: 100%;

    & .socialIcons a {
        text-decoration: none;
        color: @main-font-color;
    }

    & .socialIcons svg {
        width: 2.5rem;
        height: auto;
        margin-right: 0.6rem;
        transition: 0.3s ease;

        &:hover {
            color: @hover-color;
            transform: rotate(20deg);
        }
    }

    & .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;

        & .logo {
            width: 8rem;
            height: auto;
        }

        & ul {
            display: flex;

            & li {
                padding: 0 0.3rem;
                list-style-type: none;
    
                & a {
                    color: #292a49;
                    text-decoration: none;
                    font-size: 1.3rem;
                    font-weight: 700;
                    font-family: 'Julius Sans One';
                    transition: 0.3s ease;
        
                    &:hover {
                        text-decoration: underline;
                        color: @hover-color;
                    }
                }
            }
        }
    }
}

/* -- MAIN -- */
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -- HERO SECTION -- */
.hero-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

/* -- SHOWCASE SECTION -- */
.showcase-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    & .showcase-card {
        text-align: center;
        position: relative;
        width: 100%;
        filter: blur(5px);
        transition: 0.4s ease;

        &:hover {
            filter: none;
            cursor: pointer;
            transform: translateY(-5px) scale(1.1);
        }

        &:nth-child(2) {
            transform: translateY(-40px);
            filter: none;
            
            &:hover {
                transform: translateY(-40px) scale(1.1);
            }
        }

        & .showcase-bottom {
            width: 100%;
            position: absolute;
            bottom: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 2rem 0.5rem;
            font-family: 'Julius Sans One';
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}