// main: 'import.less'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: @main-bg-color;
    background: url(../images/hero-bg.png) no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    margin: 5rem 0 0 0;
}

/* -- MENUS -- */
ul {
    display: flex;

    & li {
        padding: 0 0.3rem;
        list-style-type: none;

        & a {
            color: #292a49;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 700;
            font-family: 'Julius Sans One';
            transition: 0.3s ease;

            &:hover {
                text-decoration: underline;
                color: @hover-color;
            }
        }
    }
}

.socialIcons a {
    text-decoration: none;
    color: @main-font-color;
}

& .socialIcons svg {
    width: 2rem;
    height: auto;
    margin-right: 0.6rem;
    transition: 0.3s ease;

    &:hover {
        color: @hover-color;
        transform: rotate(20deg);
    }
}

/* -- NAVBAR -- */
.nav {
    max-width: 1400px;
    width: 100%;

    & .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;

        & .logo {
            width: 10rem;
            height: auto;
            margin: 0 50%;
        }
    }
}

/* -- MAIN -- */
main {
    max-width: 1200px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -- HERO SECTION -- */
#hero-section {
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding: 4rem 0 0 0;
}

/* -- SHOWCASE SECTION -- */
.showcase-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    & .showcase-card {
        text-align: center;
        position: relative;
        width: 100%;
        filter: blur(5px) drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));
        transition: 0.4s ease;

        &:hover {
            filter: blur(0) drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));
            cursor: pointer;
            transform: translateY(-5px) scale(1.1);
        }

        &:nth-child(2) {
            transform: translateY(-40px);
            filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));

            &:hover {
                transform: translateY(-40px) scale(1.1);
            }
        }

        & .showcase-bottom {
            width: 100%;
            position: absolute;
            bottom: 3px;
            background: linear-gradient(to bottom, #0000007b, #343434);
            backdrop-filter: blur(3px);
            color: #fff;
            padding: 2rem 0.5rem;
            font-family: 'Julius Sans One';
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

/* -- SLIDE GALLERY SECTION -- */
.slide-gallery-section {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;

    & .slide-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        position: relative;

        & img {
            width: 40%;
            height: auto;
        }

        & img:nth-child(2) {
            width: 60%;
            height: auto;
            z-index: 1;
        }

        & img:first-child {
            position: absolute;
            filter: blur(5px) drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));
            left: -8vw;
            transition: 0.3s ease;

            &:hover {
                filter: none;
                cursor: pointer;
            }
        }

        & img:last-child {
            position: absolute;
            filter: blur(5px) drop-shadow(0 5px 3px rgba(0, 0, 0, 0.422));
            right: -8vw;
            transition: 0.3s ease;

            &:hover {
                filter: none;
                cursor: pointer;
                transform: translateY(-5px) scale(1.1);
                z-index: 1;
            }
        }
    }
}

/* -- TICKET SECTION -- */
.ticket-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    & .ticket-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    & .ticket {
        height: 398px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/ticket-bg.png);

        &:nth-child(2) {
            transform: translateY(2rem);
        }

        & img {
            margin-bottom: 0.3rem;
            filter: opacity(80%);
        }

        & .ticket-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            & a {
                font-family: 'Ubuntu';
                text-decoration: underline;
                color: @main-font-color;
                margin: 1rem 0;
                transition: 0.3s ease;

                &:hover {
                    color: @hover-color;
                }
            }
        }
    }
}

/* -- FOOTER -- */
footer {
    width: 100%;
    padding: 10rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../images/footer-bg.png) no-repeat;
    background-size: cover;
    margin-top: 5rem;
    position: relative;

    & .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10rem;
        position: absolute;
        bottom: 1rem;
    }
}