// main: 'import.less'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Twinkle Star';
}

body {
    background-color: #f7f9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -- NAVBAR -- */
.nav {
    width: 100%;
}

.nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

.nav .navbar ul {
    display: flex;
}

.nav .navbar ul li {
    margin-left: 1rem;
}
